<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Bíómynd.is</title>
    <meta name="description" content="Allt það sem þú vilt vita um bíómyndir í sýningu og væntanlegar í kvikmyndhús landsins.">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Facebook -->
    <meta property="og:site_name" content="biomynd" />
    <meta property="og:title" content="Bíómynd.is" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.biomynd.is/" />
    <meta property="og:description" content="Allt það sem þú vilt vita um bíómyndir í sýningu og væntanlegar í kvikmyndhús landsins."
    />
    <meta property="og:image" content="http://www.biomynd.is/images/facebook-share.PNG" />
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#F3DF49">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F3DF49">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F3DF49">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- favicon all devices -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#f38902">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">

    <link rel="stylesheet" href="/css/bundle.css">

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-76974044-2', 'auto');
        ga('send', 'pageview');
    </script>
    <base href="/">
</head>

<body>
    <div ng-include src="'/views/templates/svg.html'"></div>

    <div class="push_content">
        <div class="content">
            <div filter-opener>
                <svg class="icon icon-filter" viewBox="0 0 32 32">
                    <path d="M29.181 19.070c-1.679-2.908-0.669-6.634 2.255-8.328l-3.145-5.447c-0.898 0.527-1.943 0.829-3.058 0.829-3.361 0-6.085-2.742-6.085-6.125h-6.289c0.008 1.044-0.252 2.103-0.811 3.070-1.679 2.908-5.411 3.897-8.339 2.211l-3.144 5.447c0.905 0.515 1.689 1.268 2.246 2.234 1.676 2.903 0.672 6.623-2.241 8.319l3.145 5.447c0.895-0.522 1.935-0.82 3.044-0.82 3.35 0 6.067 2.725 6.084 6.092h6.289c-0.003-1.034 0.259-2.080 0.811-3.038 1.676-2.903 5.399-3.894 8.325-2.219l3.145-5.447c-0.899-0.515-1.678-1.266-2.232-2.226zM16 22.479c-3.578 0-6.479-2.901-6.479-6.479s2.901-6.479 6.479-6.479c3.578 0 6.479 2.901 6.479 6.479s-2.901 6.479-6.479 6.479z"></path>
                </svg>
                <svg class="icon icon-exit hidden" viewbox="0 0 100 125">
                    <path d="M24.762,79.088c0.507,0.508,1.173,0.762,1.838,0.762c0.665,0,1.331-0.254,1.838-0.762L50,57.527l21.562,21.562  c0.507,0.508,1.173,0.762,1.838,0.762c0.665,0,1.331-0.254,1.838-0.762c1.016-1.015,1.016-2.662,0-3.677L53.677,53.85l21.562-21.562  c1.016-1.015,1.016-2.662,0-3.677c-1.014-1.016-2.662-1.016-3.677,0L50,50.173L28.438,28.612c-1.014-1.016-2.662-1.016-3.677,0  c-1.016,1.015-1.016,2.662,0,3.677L46.324,53.85L24.762,75.412C23.746,76.427,23.746,78.073,24.762,79.088z"></path>
                </svg>
            </div>
            <div ng-controller="NavigationController as nav" ng-cloak class="nav" ng-show="nav.show">
                <h1 class="main_heading animated fadeInUp mobile">{{nav.PageTitle}}</h1>
                <header>
                    <nav class="menu menu-top">
                        <ul class="menu_list">
                            <li class="menu_item" ng-repeat="page in nav.pages track by page.name" ng-class="{active:page.active}" ng-click="setActive($index)"><a href="{{page.href}}" class="menu_link">{{page.name}}</a></li>
                        </ul>
                    </nav>
                </header>
                <h1 class="main_heading animated fadeInUp">{{nav.PageTitle}}</h1>
            </div>

            <ng-view>
                <div class="loading_container">
                    <div class="loader">
                        <svg viewbox="25 25 50 50" class="circular">
                            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" class="path"></circle>
                        </svg>
                        <p>Augnablik...</p>
                    </div>
                </div>
            </ng-view>
        </div>
    </div>

    <div ng-include src="'/views/templates/photoswipe.html'"></div>

    <script src="/js/bundle.js"></script>
    <script>
        angular.module('PreloadedData', []) .constant('API_SERVICE_INFO', <%-JSON.stringify(api)%>);
    </script>
</body>

</html>